@charset "UTF-8";

*{
	margin: 0, auto;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: 0;
}

section.main {
	text-align: center;
}

section.main .mainBox1{
	width: 1000px auto;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

section.main .mainBox1 input{
	font-size: 25px;
	width: 800px;
	height: 70px;
	border: 2px solid #0c4192;
	border-radius: 50px;
	line-height: 70px;
	vertical-align: middle;
	padding-left: 15px;
}

section.main .mainBox1 input::placeholder{
	position: absolute;
	top: 13px;
	left: 20px;
}

section.main .mainBox1 button{
	font-size: 25px;
	color: white;
	background-color: #0d47a1;
	border: 2px solid #0d47a1;
	border-radius: 50px;
	height: 70px;
	width: 100px;
	line-height: 70px;
	margin-left: -90px;
	vertical-align: middle;
}

section.main .mainBox1 button:hover{
	cursor: pointer;
}

section.main .mainBox2{
	width: 1300px auto;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

section.main .mainBox2 p.titleBom{
	width: 700px;
	font-size: 35px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 20px;
	padding-left: 30px;
}

section.main .mainBox2 p.title{
	width: 500px;
	font-size: 35px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 20px;
	padding-left: 40px;
}

section.main .mainBox2 div.bookOftheMonth{
	height: 450px;
	width: 700px;
	border: 2px solid #0d47a1;
	border-radius: 50px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
	overflow: hidden;
	position: relative;
	margin-right: 20px;
}

section.main .mainBox2 div.libraryInfo{
	height: 450px;
    width: 500px;
    border: 2px solid #0d47a1;
    border-radius: 50px;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;       
    text-align: left;
}

section.main .mainBox2 div.slideBookCard{
	width: 600px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

div.slideBookCard div.bomInfo{
	width: 300px;
	height: 400px;
}

div.slideBookCard div.img{
	width: 250px;
	height: 350px;
	margin-right: 20px;
}


div.slideBookCard div.img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


div.slideBookCard div.bomInfo{
	width: 300px;
	height: 400px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	
}

div.slideBookCard div.bomInfo div{
	text-align: left;
	height: 300px;
	line-height: 50px;
	font-size: 20px;
}

div.slideBookCard div.bomInfo div.bold{
	font-weight: bold;	
}

div.libraryInfo div.libInfo{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

div.libName{
	font-size: 25px;
	margin-left: -200px;
	font-weight: bold;
}

div.libraryInfo div.infoLeft, div.infoRight {
    font-size: 20px;
    margin-left: 20px;
}

div.libraryInfo div.infoLeft{
	width: 100px;
	font-weight: bold;
}

div.libraryInfo div.infoRight{
	width: 260px;
}