footer {
    margin: 0;
    background-color: #0c3e89;
    color: white;
    padding: 20px;
    position: relative;
    font-size: 15px;
    height: 150px;
    align-items: center;
}

footer .information {
    text-align: left;
    margin-top: 15px;
}

footer .copyright {
	position: absolute;
  	left: 50%;
 	top: 50%;
 	transform: translate(-50%, -50%);
  	text-align: center;
 }

footer div p {
    margin: 0;
}